<ul class="collection with-header task-card">
    <li class="collection-header cyan">
        <h4 class="task-card-title white-text">Accomplissements</h4>
        <p class="task-card-date">Hauts faits</p>
    </li>
    <li class="collection-item dismissable">
        <div class="row">
            <div class="col s7">
                <p class="collections-title">Amiral de l'espace</p>
                <p class="collections-content">Eliminer 10000 adversaires toutes parties confondues</p>
            </div>
            <div class="col s5">
                <div class="progress">
                    <div class="determinate" style="width: 60%"></div>
                </div>
            </div>
        </div>
    </li>
    <li class="collection-item dismissable">
        <div class="row">
            <div class="col s7">
                <p class="collections-title">Tueur de vampire</p>
                <p class="collections-content">Eliminer des vampires en mode Dracula</p>
            </div>
            <div class="col s5">
                <div class="progress">
                    <div class="determinate" style="width: 30%"></div>
                </div>
            </div>
        </div>
    </li>
</ul>