{% extends '::layout.html.twig' %}
{% block layout_container %}
{% include(':inc:inc.navigation.html.twig') %}
<div class="container-form card">
    {% block body %}{% endblock %}
</div>
{% endblock %}