{% extends '::layout.html.twig' %}

{% block layout_stylesheets %}<link href="{{ asset('css/styles_admin.css') }}" rel="stylesheet" />{% endblock %}

{% block layout_container %}

    {#<ul id="slide-out" class="side-nav fixed z-depth-2">#}
    {#<li class="center no-padding">#}
    {#<div class="row">#}
    {#<img width="100" height="100"  class="circle responsive-img" />#}
    {#<p class="center textPar">Bienvenue </p>#}
    {#</div>#}
    {#</li>#}
    {#<li id="dash_dashboard"><a href="#!"><b>Tableau de Bord</b></a></li>#}
    {#<li id="dash_dashboard"><a href="#!"><b>Joueurs</b></a></li>#}
    {#<li id="dash_dashboard"><a href="#!"><b>Cartes de fidélité</b></a></li>#}
    {#<li id="dash_dashboard"><a href="#!"><b>Etablissements</b></a></li>#}
    {#<li id="dash_dashboard"><a href="#!"><b>Promotions</b></a></li>#}

    {#</ul>#}

<ul id="slide-out" class="side-nav">
    <li>
        <div class="user-view">
            <a href="#!user"><img class="circle" src="{{ asset('images/logo.PNG') }}"></a>
            <a href="#!name">{{ app.user.username }}</a>
        </div>
    </li>
    <li><a href="{{ path('admin_dashboard') }}">Dashboard</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Joueur</a></li>
    <li><a data-activates="slide-out" class="waves-effect" href="#!">Rechercher</a></li>
    <li><a data-activates="slide-out" class="waves-effect" href="#!">Liste</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Carte de fidélité</a></li>
    <li><a data-activates="slide-out" class="waves-effect" href="#!">Commander</a></li>
    <li><a data-activates="slide-out" class="waves-effect" href="#!">Gérer</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Etablissement</a></li>
    <li><a data-activates="slide-out" class="waves-effect" href="#!">Gerer</a></li>
    <li><a data-activates="slide-out" class="waves-effect" href="#!">Recrutement</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Promotions</a></li>
    <li><a data-activates="slide-out" class="waves-effect" href="#!">Gerer</a></li>
    <li><a data-activates="slide-out" class="waves-effect" href="#!">Offrir</a></li>
</ul>
<div class="fixed-action-btn horizontal">
    <a class="btn-floating btn-large red button-collapse" data-activates="slide-out">
        <i class="large material-icons">settings</i>
    </a>
</div>
<div class="container">
    {% block body %}{% endblock %}
</div>
{% endblock %}
