{% extends '::layout.html.twig' %}

{% block layout_stylesheets %}<link href="{{ asset('css/styles_admin.css') }}" rel="stylesheet" />{% endblock %}

{% block layout_container %}
    
<div class="container">
    <div class="row">
        <div class="col s12">
            <ul>
                {% for msg in app.session.flashBag.get('success') %}
                    <li class="green-text">{{ msg }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% block body %}{% endblock %}
</div>
{% endblock %}
