{% extends '::layout.html.twig' %}
{% block layout_container %}
{% include(':inc:inc.navigation.html.twig') %}
<div class="container">
    {% block body %}{% endblock %}
</div>
{% include(':inc:inc.block.footer.html.twig') %}
{% endblock %}