admin_dashboard:
    path:     /dashboard
    defaults: { _controller: AdminBundle:Security:dashboard }

admin_login:
    path: /login
    defaults: { _controller: AdminBundle:Security:login_admin}

admin_logout:
    path: /logout

admin_findplayer:
    path: /findplayer
    defaults: {_controller: AdminBundle:User:find}

admin_etablishment_index:
    path: /etablishments
    defaults: {_controller: AdminBundle:Etablishment:index}

admin_etablishment_show:
    path: /etablishment/{id}
    defaults: {_controller: AdminBundle:Etablishment:show}
    requirements:
        id: \d+

admin_etablishment_users:
    path: /etablishment/users
    defaults: {_controller: AdminBundle:Etablishment:users}

admin_game_add:
    path: /game/add
    defaults: {_controller: AppBundle:Game:add}

admin_game_index_booking_true:
    path: /game/bookingtrue
    defaults: {_controller: AppBundle:Game:indexBookingTrue}

admin_game_index_booking_false:
    path: /game/bookingfalse
    defaults: {_controller: AppBundle:Game:indexBookingFalse}

admin_command_index:
    path: /commands
    defaults: {_controller: AdminBundle:Command:index}

admin_command_add:
    path: /command/add
    defaults: {_controller: AdminBundle:Command:add}

admin_command_show:
    path: /command/show/{id}
    defaults: {_controller: AdminBundle:Command:show}
    requirements:
        id: \d+

admin_command_delivery:
    path: /command/delivery/{id}
    defaults: {_controller: AdminBundle:Command:delivery}
    requirements:
        id: \d+



