admin_dashboard:
    path:     /dashboard
    defaults: { _controller: AdminBundle:Security:dashboard }

admin_login:
    path: /login
    defaults: { _controller: AdminBundle:Security:login_admin}

admin_logout:
    path: /logout

admin_findplayer:
    path: /findplayer
    defaults: {_controller: AdminBundle:User:find}

admin_etablishment_index:
    path: /etablishments
    defaults: {_controller: AdminBundle:Etablishment:index}

admin_etablishment_show:
    path: /etablishment/{id}
    defaults: {_controller: AdminBundle:Etablishment:show}
    requirements:
        id: \d+

admin_etablishment_users:
    path: /etablishment/users
    defaults: {_controller: AdminBundle:Etablishment:index_users}

admin_game_add:
    path: /game/add
    defaults: {_controller: AppBundle:Game:add}

admin_user_show:
    path: /user/{id}
    defaults: {_controller: AdminBundle:User:show}


admin_user_index:
    path: /users/etablishments
    defaults: {_controller: AdminBundle:User:index}

admin_user_findall_byetablishment:
    path: /user/findall/etablishment/{id}
    defaults: {_controller: AdminBundle:User:index_etablishment}
    requirements:
           id: \d+


