{% extends 'base.html.twig' %}

{% block body %}
    <h3>Dashboard</h3>
    {% if user.cards|length > 0 %}
    <ul class="collection with-header">
    <li class="collection-header"><h5>Vos cartes</h5></li>
    {% for item in user.cards %}
        <li class="collection-item"><div>{{ item.number }}<a href="#!" class="secondary-content"><i class="material-icons">remove_red_eye</i></a></div></li>
    {% endfor %}
        <li class="collection-item"><div>ajout carte<a href="{{ path('app_card_add') }}" class="secondary-content"><i class="material-icons">add</i></a></div></li>

    </ul>
    {% else %}
    <a href="{{ path('app_card_add') }}">Ajout carte</a>
    {% endif %}
{% endblock %}

{% block stylesheets %}{% endblock %}
