{% extends 'base/base.html.twig' %}

{% block layout_stylesheets %}

{% endblock %}

{% block body %}
    <h1 class="main-title center">ShinigamiLaser</h1>
    <div class="row center">
        <h5 class="header col s12 light">Bienvenue dans un monde parallèle de lutte pour sa propre survie</h5>
    </div>
    <div class="row center">
        <a href="{{ path('user_register') }}" id="download-button" class="btn-large waves-effect waves-light">Enregistre ta carte de fidélité</a>
    </div>
{% endblock %}