user:
    resource: "@UserBundle/Resources/config/routing.yml"
    prefix:   /

admin:
    resource: "@AdminBundle/Resources/config/routing.yml"
    prefix:   /admin

app:
    resource: '@AppBundle/Controller/'
    type: annotation

app_dashboard:
    path:     /dashboard
    defaults: { _controller: AppBundle:Default:dashboard }

app_card_add:
    path: /add
    defaults: { _controller: AppBundle:Card:add }

app_card_show:
    path: /show/{id}
    defaults: { _controller: AppBundle:Card:show }

app_card_disable_page:
    path: /disable/{id}
    defaults: { _controller: AppBundle:Card:disablePage }

app_card_disable_action:
    path: /disable/action/{id}
    defaults: { _controller: AppBundle:Card:disable }