user:
    resource: "@UserBundle/Resources/config/routing.yml"
    prefix:   /

admin:
    resource: "@AdminBundle/Resources/config/routing.yml"
    prefix:   /admin

app:
    resource: '@AppBundle/Controller/'
    type: annotation

homepage:
    path: /home
    defaults:
        _controller: FrameworkBundle:Template:template
        template: default/index.html.twig

app_dashboard:
    path:     /dashboard
    defaults: { _controller: AppBundle:Default:dashboard }

app_card_add:
    path: card/add
    defaults: { _controller: AppBundle:Card:add }

app_card_show:
    path: card/show/{id}
    defaults: { _controller: AppBundle:Card:show }

app_card_disable_page:
    path: card/disable/{id}
    defaults: { _controller: AppBundle:Card:disablePage }

app_card_disable_action:
    path: card/disable/action/{id}
    defaults: { _controller: AppBundle:Card:disable }