# To get started with security, check out the documentation:
# https://symfony.com/doc/current/security.html
security:
    encoders:
        AppBundle\Entity\Player:
            algorithm: bcrypt
        AppBundle\Entity\Admin:
            algorithm: bcrypt
    providers:
        default:
            entity:
                class: AppBundle:Player
                property: username
        admin:
            entity:
                class: AppBundle:Admin
                property: username
        in_memory:
            memory: ~
    firewalls:
        # disables authentication for assets and the profiler, adapt it according to your needs
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false
        admin_main:
            anonymous: ~
            pattern: ^/admin
            form_login:
                login_path: /admin/login
                check_path: /admin/login
                default_target_path: /admin
                csrf_token_generator: security.csrf.token_manager
            provider: admin
            logout:
                path: /admin/logout
                target: /admin/login
        main:
            anonymous: ~
            form_login:
                login_path: login
                check_path: login
                csrf_token_generator: security.csrf.token_manager
            provider: default
            logout:
                path: /logout
                target: /login
            switch_user: true
    access_control:
        - { path: ^/admin/login, roles: IS_AUTHENTICATED_ANONYMOUSLY}
        - { path: ^/dashboard, roles: ROLE_USER}
        - { path: ^/card, roles: ROLE_USER}
        - { path: ^/admin, roles: ROLE_ADMIN}
    role_hierarchy:
        ROLE_PLAYER: ROLE_USER
        ROLE_ADMIN: [ROLE_PLAYER, ROLE_ALLOWED_TO_SWITCH]
