{% extends "::base.html.twig" %}

{% block body %}
    <h4>Ajouter votre carte</h4>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="waves-effect waves-light btn">button</button>
    {{ form_end(form) }}

{% endblock %}
