{% extends "::base.html.twig" %}

{% block body %}
    <h3>Carte perdue ou volée</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, animi dolorem ducimus eius libero placeat totam veniam voluptate. Adipisci assumenda consequuntur delectus dolor dolorem laboriosam laudantium, nemo quibusdam quod soluta.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, animi dolorem ducimus eius libero placeat totam veniam voluptate. Adipisci assumenda consequuntur delectus dolor dolorem laboriosam laudantium, nemo quibusdam quod soluta.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, animi dolorem ducimus eius libero placeat totam veniam voluptate. Adipisci assumenda consequuntur delectus dolor dolorem laboriosam laudantium, nemo quibusdam quod soluta.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, animi dolorem ducimus eius libero placeat totam veniam voluptate. Adipisci assumenda consequuntur delectus dolor dolorem laboriosam laudantium, nemo quibusdam quod soluta.</p>
    {{ form_start(disable_form) }}
    <button class="waves-effect waves-light btn">Desactiver la carte</button>
    {{ form_end(disable_form) }}
    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}
{% endblock %}