{% extends '::base.html.twig' %}

{% block body %}
    <h3>Carte : {{ card.number }}</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, animi dolorem ducimus eius libero placeat totam veniam voluptate. Adipisci assumenda consequuntur delectus dolor dolorem laboriosam laudantium, nemo quibusdam quod soluta.</p>
{% endblock %}