{% extends 'base/base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col s12">
            <h4>Nos tarifs</h4>
        </div>
        <div class="col s12">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus assumenda cumque neque numquam placeat ratione sed tempore voluptates. Accusamus atque consequatur cupiditate ea hic in nobis omnis sed voluptatibus?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi architecto at debitis dolores ea enim harum id in incidunt iste iure, laudantium, placeat qui rerum soluta sunt totam, ut voluptates.</p>
        </div>
    </div>
{% endblock %}