body{
    margin:0;
    padding:0;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
    background: url('../images/background.jpg') no-repeat center fixed;
    background-color: #1A1D22;
}

.main-title{
    font-family: 'star_jediregular';
    margin-top: 190px;
    font-size: 6em;
}

.container{
    min-height: 900px;
}

.file-wrapper .btn {
    padding: 0 2rem;
}

.file-wrapper label {
    position: absolute;
    top: -29px;
}

.img_rounded{
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

h2,h3{
    text-align: center;
    font-weight: bold;
}

p {
    line-height: 2rem;
}

#logo-container{
    left: 0;
}

li.error{
    color: #F44336;
}

.parallax-container {
    min-height: 380px;
    max-width: 1400px;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);
    margin-top: 10px;

}
.parallax-container .section {
    width: 100%;
}

.blue-back-text{
    color: #87d5fb;
    font-size:15px;
}

@media only screen and (max-width : 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width : 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding:15px;
    min-height: 290px;
}
.icon-block .material-icons {
    font-size: inherit;
}

.teal{
    background-color: #222222!important;
}

.menu-cust{
    height: 80px;
    line-height: 80px;
    margin-bottom: 50px;
}

.fa{
    font-size:35px!important;
    padding-left: 37px;
}

.bordered .icon-block{
    background-color: rgba(255,255,255,0.8);
}

.connect{
    background-color: #fca90680;
}

nav ul li {
    width: 120px;
    text-align: center;
}

nav ul a:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.sstitre {
    font-family: 'star_jediregular';
    margin-left: 105px;
    font-size: 2em;
}

.welcome-nav{
    width: auto;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    padding: 0 30px;
}

.listcard{
    padding: 30px;
}

.avatar-game-list{
    width: 40px;
    height: 40px;
}

.card-description {
    font-size: 1.0rem;
    margin: 0;
    color: #fff;
}

.icon-join i{
    font-size: 40px;
}

.no-margin{
    margin: 0;
}

.c-pointer{
    cursor: pointer;
}

.text-score{
    font-size: 30px;
    display: block;
}

.sstext-score{
    font-size: 15px;
}

.icon-dash-card-list{
    margin-left: 10px;
}

.icon-dash-card-list .material-icons{
    font-size: 30px;
}

#modal_admin{
    overflow-y: visible;
}

#modal_admin .modal-content{
    padding: 0;
}

#modal_admin .onglet-modal{
    width: 66.6666666667%;
}

#modal_admin .tabs{
    margin-bottom: 20px;
}

#modal_admin h5{
    margin-top: 0;
}

/* --- ---- ---- Style demo geeklabs --- --- ---- --- */

.container-form{
    width: 40%;
    margin: 30px auto;
    padding: 20px;
}

.cardHeader .img-avatar{
    height: 110px;
    width: 110px;
}

.cardHeader .card-profile-image {
    width: 110px;
    position: absolute;
    top: 20px;
    z-index: 1;
    left: 40px;
    cursor: pointer;
    margin: 0;
}

.cardHeader .card-image {
    height: 250px;
}

.cardHeader .card-content {
    margin-top: -40px;
}

.cardHeader .fixed-action-btn{
    position: absolute;
    bottom: 53px;
}

.cardHeader .card-content h4{
    font-weight: bold;
}

.task-card .collection-header {
    padding: 20px;
}

.task-card-title {
    margin: 0;
    font-weight: 300;
    font-size: 24px;
}

.task-card .task-cat {
    padding: 2px 4px;
    color: #fff;
    font-weight: 300;
    font-size: 0.8rem;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-clip: padding-box;
}

.card h3.card-title{
    font-weight: 300;
    margin-top: 0;
}

.task-card .task-card-date {
    font-size: 1.0rem;
    margin: 0;
    color: #fff;
}

.task-card p{
    line-height: 1.5;
}

.task-card .row{
    margin-bottom: 0;
}

.task-card p.collections-title {
    font-size: 1.0rem;
    padding: 0;
    margin: 0;
    font-weight: 500;
}

.task-card p.collections-content {
    font-size: 0.9rem;
    padding: 0;
    margin: 0;
    font-weight: 400;
}

.card .card-content.card-stats{
    padding: 10px 14px;
}

.card-stats .card-stats-title, #card-stats .card-stats-title i {
    font-size: 1.2rem;
}

.card-stats .card-stats-number {
    font-size: 1.8rem;
    line-height: 2.0rem;
    margin: 0.2rem 0 0.2rem 0;
    font-weight: 500;
}

.card-stats .card-stats-compare {
    font-size: 1.0rem;
}

.card-stats .card .card-action {
    padding: 10px 14px;
}

/* --- ---- ---- Style demo geeklabs END --- --- ---- --- */

/*********** SURCHARGE DU STYLE MATERIALIZE ***************/

html{
    color: rgb(255, 255, 255);
}

.card, .task-card{
    background-color: #1d1d1db3;
    box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14),0 6px 30px 5px rgba(0,0,0,0.12),0 8px 10px -5px rgba(0,0,0,0.3);
}

.collection .collection-item{
    background-color: transparent;
}

.collection{
    border: none;
}

nav{
    background-color: transparent;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.collapsible{
    border: none;
}

.collapsible-header{
    background-color: transparent;
}

.collection .collection-item, thead {
    border-bottom: 1px solid #e0e0e0b3;
}

table.bordered > thead > tr, table.bordered > tbody > tr{
    border-bottom: 1px solid #e0e0e0b3;
}

.cyan{
    background-color: #00bcd499 !important;
}

.purple{
    background-color: #9c27b099 !important;
}

.green{
    background-color: #4CAF5080 !important;
}

.green.darken-2 {
    background-color: #388E3C80 !important;
}

.red.darken-3{
    background-color: #C62828B3 !important;
}

.green.darken-3{
    background-color: #2E7D32B3 !important;
}

.indigo {
    background-color: #3f51b599 !important;
}

.lime.darken-1 {
    background-color: #c0ca3399 !important;
}

.blue {
    background-color: #2196F399 !important;
}

.blue.darken-2 {
    background-color: #1976D299 !important;
}

.orange {
    background-color: #ff980099 !important;
}

.orange.darken-2 {
    background-color: #f57c0099 !important;
}

.lime {
    background-color: #cddc39b3 !important;
}

.lime.darken-2 {
    background-color: #afb42bb3 !important;
}

.pink {
    background-color: #e91e63b3 !important;
}

.pink.darken-2 {
    background-color: #c2185b99 !important;
}

.input-field label{
    color: #bababa;
}

a{
    color: #87d5fb;
}

.btn, .btn-large{
    color: #050404;
    background-color: #fca906;
}

.btn:hover, .btn-large:hover, .btn:active, .btn:visited, .btn:focus, .btn-large:active, .btn-large:focus, .btn-large:visited{
    background-color: #e38b12;
}

.text-link{
    color: #87d5fb;
}

#modal_admin, #modal1{
    background-color: #fafafae6;
    color: black;
}

.modal .modal-footer{
    color: black;
    background: transparent;
}

#modal1 .input-field label, #modal_admin .input-field label{
    color: #595959;
}

/*********** SURCHARGE DU STYLE HIGHCHART ***************/
.card .highcharts-background{
    fill: transparent;
}