header,
main,
footer {
    padding-left: 240px;
}

.yellow-text{
    color:#fca906!important;
    font-weight: bold;
}

.dark-text{
    color:#222222!important;
    font-weight: bold;
}

@media only screen and (max-width: 992px) {
    header,
    main,
    footer {
        padding-left: 0;
    }
}

#credits li,
#credits li a {
    color: white;
}

#credits li a {
    font-weight: bold;
}

.footer-copyright .container,
.footer-copyright .container a {
    color: #BCC2E2;
}

.side-nav{
    width: 250px;
}

.fab-tip {
    position: fixed;
    right: 85px;
    padding: 0px 0.5rem;
    text-align: right;
    background-color: #323232;
    border-radius: 2px;
    color: #FFF;
    width: auto;
}

.dark{
    background-color: #222222!important;
}

.dark-text{
    color: #222222!important;
}


h5{
    font-size: 18px;
}

#dash_dashboard{
    font-size: 20px;
    font-weight: bold;
}

a{
    color:#222222;
}

.justify{
    text-align: justify;
}

.container .collection .collection-item.avatar i.circle{
    background-color: #e24800;
}

.collection-dash p{
    line-height: 1.5;
}

.collection-dash .collection-header {
    font-size: 1.64rem;
    font-weight: 500;
}

.collection-dash p.collections-title {
    font-size: 1.0rem;
    padding: 0;
    margin: 0;
    font-weight: 500;
}

.collection-dash p.collections-content {
    font-size: 0.9rem;
    padding: 0;
    margin: 0;
    font-weight: 400;
}

.icon-dash-admin{
    float: right;
    font-size: 40px;
    color: #e24800;
}

.textPar{
    font-size: 20px;
    color: #e24800;
    font-weight: bold;
}