body{
    margin:0;
    padding:0;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
}

.file-wrapper .btn {
    padding: 0 2rem;
}

.file-wrapper label {
    position: absolute;
    top: -29px;
}

.img_rounded{
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

nav ul a,
nav .brand-logo {
    color: #fca906;
    font-size: 16px;
    font-weight: bold;
}

a:hover{
    text-decoration: none;
    color: #e24800;
}

h2,h3{
    text-align: center;
    font-weight: bold;
}
.nav-wrapper{
    background-color: #222222;

}
.white{
    background-color: #fca906!important;
    height: 100px;
}

p {
    line-height: 2rem;
}

.button-collapse {
    color: #26a69a;
}
#logo-container{
    left: 0;
}

.parallax-container {
    min-height: 380px;
    max-width: 1400px;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);
    margin-top: 10px;

}
.parallax-container .section {
    width: 100%;
}

.teal-text.text-lighten-2{
    color: #fca906!important;
    font-size: 50px;
    margin-top: 50px;
    font-weight: bold;
}

.teal.lighten-1 {
    background-color: #fca906 !important;
    margin-left: 500px;
    margin-top: 20px;
    color:#222222;
    font-weight: bold;
    font-size: 17px;
}
.header.col.s12.light{
    color: #fca906!important;
    font-size: 30px;
    font-weight: bold;
}

@media only screen and (max-width : 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width : 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding:15px;
}
.icon-block .material-icons {
    font-size: inherit;
}

.teal{
    background-color: #222222!important;
}

.footer-copyright .container p{
    text-align: center;
    color: #fca906!important;
}

.menu-cust{
    height: 80px;
    line-height: 80px;
    margin-bottom: 50px;
}

.fa{
    font-size:35px!important;
    padding-left: 37px;
}

.bordered .icon-block{
    background-color: rgba(255,255,255,0.8);
}

.connect{
    border: 2px solid #fca906;
    background-color: #fca906;
}

.listcard{
    padding: 30px;
}

.avatar-game-list{
    width: 40px;
    height: 40px;
}

.card-description {
    font-size: 1.0rem;
    margin: 0;
    color: #fff;
}

/* --- ---- ---- Style demo geeklabs --- --- ---- --- */

.container-form{
    width: 40%;
    margin: 30px auto;
    padding: 20px;
}

.cardHeader .img-avatar{
    height: 110px;
    width: 110px;
}

.cardHeader .card-profile-image {
    width: 110px;
    position: absolute;
    top: 190px;
    z-index: 1;
    left: 40px;
    cursor: pointer;
    margin: 0;
}

.cardHeader .card-image {
    height: 250px;
}

.cardHeader .card-content {
    margin-top: -40px;
}

.cardHeader .fixed-action-btn{
    position: absolute;
    bottom: 89px;
}

.task-card .collection-header {
    padding: 20px;
}

.task-card-title {
    margin: 0;
    font-weight: 300;
    font-size: 24px;
}

.task-card .task-cat {
    padding: 2px 4px;
    color: #fff;
    margin-left: 37px;
    font-weight: 300;
    font-size: 0.8rem;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-clip: padding-box;
}

.card h3.card-title{
    font-weight: 300;
    margin-top: 0;
}

.task-card .task-card-date {
    font-size: 1.0rem;
    margin: 0;
    color: #fff;
}

.task-card p{
    line-height: 1.5;
}

.task-card .row{
    margin-bottom: 0;
}

.task-card p.collections-title {
    font-size: 1.0rem;
    padding: 0;
    margin: 0;
    font-weight: 500;
}

.task-card p.collections-content {
    font-size: 0.9rem;
    padding: 0;
    margin: 0;
    font-weight: 400;
}

.card .card-content.card-stats{
    padding: 10px 14px;
}

.card-stats .card-stats-title, #card-stats .card-stats-title i {
    font-size: 1.2rem;
}

.card-stats .card-stats-number {
    font-size: 1.8rem;
    line-height: 2.0rem;
    margin: 0.2rem 0 0.2rem 0;
    font-weight: 500;
}

.card-stats .card-stats-compare {
    font-size: 1.0rem;
}

.card-stats .card .card-action {
    padding: 10px 14px;
}

/* --- ---- ---- Style demo geeklabs END --- --- ---- --- */