user_login:
    path: /login
    defaults: { _controller: UserBundle:Security:login}
user_logout:
    path: /logout

user_register:
    path: /register
    defaults: { _controller: UserBundle:User:register}

user_preactivate:
    path: /user/register/confirmation
    defaults:
        _controller: FrameworkBundle:Template:template
        template:    UserBundle:default:preactivate.html.twig

user_activate:
    path: /user/register/activate/{token}
    defaults: { _controller: UserBundle:User:activateAccount}

user_update:
    path: /user/update/{id}
    defaults: { _controller: UserBundle:Update:index}

user_update_profil:
    path: /user/update/profil/{id}
    defaults: { _controller: UserBundle:Update:profil}

user_update_avatar:
    path: /user/update/avatar/{id}
    defaults: { _controller: UserBundle:Update:avatar }

user_update_password:
    path: /user/update/password/{id}
    defaults: { _controller: UserBundle:Update:password }

user_lostpassword:
    path: /user/lostpassword/
    defaults: { _controller: UserBundle:User:lostPassword}

user_lostpassword_form:
    path: /user/lostpassword/{token}
    defaults: { _controller: UserBundle:User:updatePassword}

user_lostpassword_confirmation:
    path: /user/lostpassword/confirmation
    defaults: { _controller: UserBundle:User:confirmation}