{% extends 'base.html.twig' %}

{% block body %}

    <h2>Tu as perdu ton mot de passe ?</h2>
    <p>Renseigne ton email pour le modifier</p>

    <div class="row">
        <form class="row" action="{{ path('user_pre_lostpassword') }}" method="post" autocomplete="off">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <div class="input-field col s3">
                <label for="email">
                   Ton email
                </label>
                <input type="text" id="email" name="_email">
            </div>
            <div class="input-field col s12">
                <button type="submit" class="waves-effect waves-light btn"><i class="material-icons right"></i>Go</button>
            </div>

        </form>
    </div>
{% endblock %}