{% extends 'base.html.twig' %}

{% block body %}

    <h2>Se connecter</h2>



    <form action="{{ path('login') }}" method="post">

        <label for="username">
            Nom d'utilisateur
        </label>

        <input type="text" id="username" name="_username">

        <label for="password">
            Mot de passe
        </label>

        <input type="password" id="password" name="_password">

        <button type="submit">Se connecter</button>

    </form>

{% endblock  %}