<footer class="page-footer teal">
    <div class="container">
        <div class="row">
            <div class="col s4">
                <h5 class="white-text">A propos de nous</h5>
                <p class="grey-text text-lighten-4">Le plus grand laser game de Paris intra-muros vous propose une expérience de jeu fabuleuse. Venez vous affronter dans un labyrinthe aux décors fantastiques. Immersion totale garantie !.</p>


            </div>
            <div class="col s4">
                <h5 class="white-text">Réseaux Sociaux</h5>
                <ul>
                    <li><a class="white-text" href="#"><i class="fa fa-facebook center" aria-hidden="true"></i></a></li>
                    <li><a class="white-text" href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a class="white-text" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            <div class="col s4">
                <h5 class="white-text">Infos pratiques</h5>
                <ul>
                    <li><a class="white-text" href="#">Horaires</a></li>
                    <li><a class="white-text" href="#">ShinigamiLaser en France</a></li>
                    <li><a class="white-text" href="#">Nous recrutons des développeurs Symfony</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <p>Made by Antoine et Maïrah- Tous Droits Réservés- Novembre 2017</p>
        </div>
    </div>
</footer>