{% extends 'base/base.form.html.twig' %}

{% block body %}
    {% set messages_error = app.flashes('notice') %}
    <div class="row">
        <div class="col s12">
            <i class="material-icons blue-back-text">arrow_back</i>
            <a href="{{ path('admin_dashboard') }}"> Retour à l'interface d'administration</a>
            <h4 class="center">Tu recherches un joueur ?</h4>
            <p>Renseigne le numéro de sa carte de fidélité pour le retrouver</p>
            <form action="{{ path('admin_findplayer') }}" method="post" autocomplete="off" novalidate="novalidate">
                <div class="row {% if messages_error|length > 0 %}has-error{% endif %}">
                    <div class="input-field col s12">
                        <label for="number_card">
                            Numéro de la carte
                        </label>
                        <input type="number" id="number_card" name="number_card">
                        {% if messages_error|length > 0 %}
                        <ul>
                            {% for message in messages_error %}
                                <li class="error">{{ message }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <button type="submit" class="waves-effect waves-light btn"><i class="material-icons right"></i>Go</button>
                    </div>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            </form>
        </div>
    </div>
{% endblock %}