{% extends 'base/base.admin.html.twig' %}

{% block body %}
    <ul>
        {% for etablishment in etablishments %}
           <li><a href="{{ path('admin_user_findall_byetablishment', {'id':etablishment.id}) }}">{{ etablishment.name }}</a> </li>
        {% endfor %}
    </ul>

{% endblock %}