{% extends 'base/base.form.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col s12">
            <a href="{{ path('app_dashboard') }}">Retour au dashboard</a>
        </div>
    </div>
    <div class="row">
        <div class="col s8 offset-s2">
            <h3>Editer son profil</h3>
            {% include 'inc/inc.avatar.img.html.twig' with {'class' : 'img_rounded'} %}
            {{ form_start(form, { 'attr': {'novalidate': 'novalidate', 'autocomplete' : 'off'}}) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}