{% extends 'base/base.html.twig' %}

{% block body %}
    <h2>Bienvenue chez ShinigamiLaser {{ player.username }}</h2>
    <p>Ton compte est bien activé</p>
    <p>Tu peux dès à présent te <a href="{{ path('user_login') }}">connecter</a> et bénéficier de nombreux avantages</p>
{% endblock %}