{% extends 'base/base.form.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col s12">
            <h4 class="center">Activation</h4>
            <p>Un mail t'as été envoyé, merci de te rendre sur ta boite mail. Penses à vérifier dans les courriers indésirables.</p>
        </div>
    </div>
{% endblock %}