{% extends 'base/base.form.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col s12">
            Ton mot de passe a bien été changé.
            <a href="{{ path('user_login') }}">Login</a>
        </div>
    </div>
{% endblock %}