{% extends 'base/base.form.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col s12">
            Un mail t'as été envoyé, merci de te rendre sur ta boite mail. Penses à vérifier dans les courriers indésirables.
        </div>
    </div>
{% endblock %}