{% extends 'base/base.form.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col s12">
            <h4 class="center">Tu as perdu ton mot de passe ?</h4>
            <p class="center">Renseigne ton email pour le modifier</p>
            <form action="{{ path('user_lostpassword') }}" method="post" autocomplete="off">
                <div class="input-field col s12">
                    <label for="email">
                        Ton email
                    </label>
                    <input type="text" id="email" name="_email">
                </div>
                <div class="input-field col s12">
                    <button type="submit" class="waves-effect waves-light btn"><i class="material-icons right"></i>Envoyer</button>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            </form>
        </div>
    </div>
{% endblock %}